<div class="section" id="mongo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Mongo Database Topics</div>
        <hr>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#gridview" role="tablist">
                <i class="fa fa-th"  rel="tooltip" title="Grid View" aria-hidden="true"></i>
              </a>
            </li>
            
          </ul>
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#listview" role="tablist">
                <i class="fa fa-list" rel="tooltip" title="List View" aria-hidden="true"></i>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    
    <div class="tab-content gallery mt-5">
      <div class="tab-pane resume" id="gridview">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="https://youtu.be/mjSNKjTzeao" target="_blank">
                  <figure class="cc-effect">
                    <img src="assets/images/mongoshard1.png" alt="Image" />
                    <figcaption>
                      <div class="h4">Mongo Sharding Setup</div>
                      <p>Sharding Part-2</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="https://rajeshnair.netlify.app" target="_blank">
                  <figure class="cc-effect">
                    <img src="assets/images/mongojava.png" alt="Image" />
                    <figcaption>
                      <div class="h4">M101J: Mongo DB for Java Developers</div>
                      <p>Mongo University</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#">
                  <figure class="cc-effect">
                    <img src="assets/images/aws1.png" alt="Image" />
                    <figcaption>
                      <div class="h4">AWS Solution Training For Partners:Tailored(Classroom)</div>
                      <p>Amazon Web Services</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#">
                  <figure class="cc-effect">
                    <img src="assets/images/aws2.png" alt="Image" />
                    <figcaption>
                      <div class="h4">Learn Amazon Web Services</div>
                      <p>Udemy</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#">
                  <figure class="cc-effect">
                    <img src="assets/images/linux1.png" alt="Image" />
                    <figcaption>
                      <div class="h4">Linux Grade 5 System Support Sr Associate</div>
                      <p>NTT DATA Learning & Certification Institute</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#">
                  <figure class="cc-effect">
                    <img src="assets/images/mongo3.png" alt="Image" />
                    <figcaption>
                      <div class="h4">M103: Basic Cluster Administration</div>
                      <p>Mongo University</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane resume" id="listview">
        
        <div class="section" id="education">
          <div class="container cc-education">
          <div class="card" data-aos="fade-up" >
              <div class="row">
                <div class="col-md-3 bg-primary"  data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                    
                    <div class="h5">Mongo Database Introduction</div>
                  </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                    <div class="h5">
                    
                     <a href="#" target="_blank">Mongo Database Intro Under 10 minutes</a>
              
                  </div>
                  </div>
                </div>
              </div>
            </div>
      
           
           

      </div>


    </div>
  </div>
</div>