<app-header></app-header>    
                    
      
        <div class="page-header" filter-color="blue">
          <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
    
        
          </div>

       <div class="row">

        <div class="mt-2 col col-md-3" >
          <div class="card text-white bg-primary mb-3" style="margin-top: 20px;margin-left:10px;">
            <div class="card-header">Courses</div>
            <div class="card-body">
                <h4 class="card-title">Browse Customized Courses</h4>
                <p class="card-text">
                  The best place to learn the various tech topics for Novice to Experts.Sneek Peak the free courses and enroll for the premium tailored courses to master the skill.
                </p>
            </div>
        </div>
          </div>

          <div class=" col col-md-6 mt-5 pt-2">
     
       <p class="marquee">
            <span>
          <div class="text-center ">
            
                        <h1 class="text-3xl text-blue leading-tight">Latest Technology Courses</h1><br>
           <hr>
            <h5><p>  Your journey of learning starts here at VeMaRa Hub.
            </p><p>Learn with a most innovative way to enhance your knowledge 
              <br>and show to the world, your real potential.
           <br> with VeMaRa Hub ~ <em>"everyday learn something new"</em></p></h5></div>
         
         </span>
  </p>
       </div>


      </div>

      <div class="row">
        <div class="col col-md-3">
        <div class="card text-white bg-warning mb-3" style="margin-left:10px;"> 
          <div class="card-header">Blogs</div>
          <div class="card-body">
              <h4 class="card-title">Read Latest Blogs Posts</h4>
              <p class="card-text">
                  Blog post on various topics classified and tagged as per technology and section 
              </p>
          </div>
      </div>
</div>

<div class="col mt-4 col-md-6">
  <div class="container"> 
    <h4>Total Free Courses :   
        <span class="badge badge-secondary">55</span> 
    </h4> 
      
    <h4>Total Hours of Session :   
        <span class="badge badge-secondary">115</span> 
    </h4> 
      
    <h4>Variety of Topics : 
        <span class="badge badge-secondary">40</span> 
    </h4> 
   
</div> 
</div>
      </div>
     

    

    </div>

  

  <div class="row pb-5" >

    <div class="pb-5  col-xl-12">

      <div class="card bg-secondary">
        
        <div class="card-body text-white">
            <ngb-tabset>
                <ngb-tab title="Join Forum">
                    <ng-template ngbTabContent>
                        <p >
                          Asking question is the key to a productive learning. Best way to learn is to help others. Reply to the questions asked and get marks to help others.
                          Join the forum for vemara hub and grow with the community.
                        </p>
                    </ng-template>
                </ngb-tab>
          
              
            </ngb-tabset>
        </div>
    </div>

    </div>

  </div>
  <app-footer></app-footer>