<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
       
        <h2 class="text-muted ">VeMara Hub<small > L</small><small class="text-lowercase">earning </small><small>P</small><small class="text-lowercase">ortal</small>    </h2>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
  
            <a class="nav-item nav-link" routerLink="../dash" >Home
            
                </a>
          </li>
          
          <li class="nav-item  ">
            <a class="nav-item nav-link" routerLink="../courses" >Courses
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="https://rajeshnair.netlify.app" target="_blank">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="login">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>