<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="intro" >Home</a>
      <a class="nav-item nav-link" href="https://rajeshnair.netlify.app" target="_blank">About</a>
      <a class="nav-item nav-link" routerLink="/">Login/Register</a>
  </div>
</nav>

<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="blue">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
       

         
        </div>
        <!--
        <br><br><br> <br><br><br>
        <div class="text-center">
          <h1 class="text-3xl text-blue leading-tight">Latest Technology Courses</h1><br>
         <hr>
          <h2><p>  Your journey of learning starts here at VeMaRa Hub.
          </p><p>Learn with a most innovative way to enhance your knowledge 
            <br>and show to the world, your real potential.
         <br> with VeMaRa Hub ~ <em>"everyday learn something new"</em></p></h2></div></div>
-->
      </div>
  
   
      </div>

</div>