<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h4><B>Enter Registered E-Mail Id to Reset Password</B></h4> 
        <hr/>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">

            <div class="form-group">
          
                <input type="email"
                       name="email"
                       ngModel
                       required
                       #email="ngModel"
                       class="form-control"
                       id="resetPasswordEmail"
                       placeholder="Enter email">
            </div>
            <div class="row">
                <div class="col-md-6 ml-2">
            <button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">Reset Password <i class="fa fa-paper-plane"></i></button>
                    </div>
                    <div class="col-md-3 ml-2">
                    <a routerLink="../login" class="btn btn-link btn-secondary">Cancel</a>
                </div>
            </div>
    </form>
    </div>
</div>